*{
    margin: 0;
    padding: 0;

}

body{
    background: url(ridebg.webp) ;
    background-size: cover;

}
h2{
    text-align: center;
}
h1 {
    text-align: center;
    background-color:greenyellow(62, 172, 80);
}